@model Tarefa

@{
    ViewData["Title"] = "CriarEditar";
}

<h1>Cadastro</h1>

<h4>Tarefas</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="CriarEditar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Usuario" class="control-label"></label>
                    <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label asp-for="DataInicio" class="control-label"></label>
                    <input asp-for="DataInicio" class="form-control" type="date" />
                    <span asp-validation-for="DataInicio" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label asp-for="DataFim" class="control-label"></label>
                    <input asp-for="DataFim" class="form-control" type="date" />
                    <span asp-validation-for="DataFim" class="text-danger"></span>
                </div>
            </div>

            <br/>
            <div class="text-center">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Lista de tarefas</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
